<!DOCTYPE html public "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<!-- ***** Enter Newsletter Title Below ***** -->
<TITLE>Newsletter Title Here</TITLE>
</HEAD>
<BODY bgcolor="#FFFFFF" text="#000000" link="#0099CC" vlink="#0099CC">
	<TABLE cellpadding="10" width="600">
		<TR>
			<TD bgcolor="#99CCCC">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</TD>
			<TD bgcolor="#66CC66">	&nbsp;
			</TD>
			<TD bgcolor="#00CCFF">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</TD>
		</TR>
		<TR>
			<TD bgcolor="#66CC66">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</TD>
			<TD bgcolor="#CCFFFF">
				<TABLE cellpadding="15" width="100%" border="0">
					<TR>
						<TD><FONT size="+2" color="#66CC66" face="verdana"><B>

<!-- ***** Enter Announcement Title Below ***** -->

Management STOCK is here!

</B></FONT>
<P><FONT face="verdana">

<!-- ***** Enter Descriptive Text #1 Below ***** -->

HI! 

</FONT>
<P>
							<TABLE cellspacing="5" cellpadding="5">
								<TR>
									<TD><FONT face="verdana">

<!-- ***** Enter Descriptive Text #2 Below ***** -->

<B>HELLO THERE.</B>  You are receiving this email because your email address was subscribed to BLA BLA BLA's email list. Having trouble reading this email? View it on our website!.<BR><!-- ***** Enter URL and Name for Link Below ***** -->

<B><A href="http://localhost/StockManager/web/app_dev.php/index">VISIT US!</A></B>

</FONT>
									</TD>
									<TD align="center">	<!-- ***** Enter URL for Link (1st) AND Graphic (2nd) Below ***** -->
									</TD>
								</TR>
								<TR>
									<TD><FONT face="verdana">

<!-- ***** Enter Descriptive Text #3 Below ***** -->


</FONT>
									</TD>
									<TD align="center">	<!-- ***** Enter URL for Link (1st) AND Graphic (2nd) Below ***** -->
									</TD>
								</TR>
								<TR>
									<TD><FONT face="verdana">

<!-- ***** Enter Descriptive Text #4 Below ***** -->

<B><A href="http://localhost/StockManager/web/app_dev.php/index">VISIT OUR WEBSITE</A></B>

</FONT>
									</TD>
									<TD align="center">	<!-- ***** Enter URL for Link (1st) AND Graphic (2nd) Below ***** -->
		
									</TD>
								</TR>
							</TABLE>
<P>
<HR>
						<CENTER><FONT size="-1" face="verdana">
						<h2>Hei! LOOK WHAT WE GOT FOR YOU!</h2> <pre>
						<p>{{ message | raw }}</p>
						</pre>

<!-- ***** Enter Footer Below ***** -->

<span id="Date">{{ date|date('Y-m-d') }}</span> | STOCK | MANAGEMENT<BR><!-- ***** Enter URL and Name for Link Below ***** -->

<A href="http://localhost/StockManager/web/app_dev.php/index">VISIT OUR WEBSITE</A>

</FONT></CENTER>
						</TD>
					</TR>
				</TABLE>
			</TD>
			<TD bgcolor="#66CC66">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</TD>
		</TR>
		<TR>
			<TD bgcolor="#00CCFF">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</TD>
			<TD bgcolor="#66CC66">	&nbsp;
			</TD>
			<TD bgcolor="#99CCCC">	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</TD>
		</TR>
	</TABLE>
</BODY>
</HTML>