{% extends '::admin.html.twig' %}

{% block page_title %}
		<h1 class="page-header">Insert a new product</h1>
{% endblock %}

{% block content %}
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Insert product</h3>
		</div>
		<br/>

	</div>
{% endblock %}